<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--    <html lang="en" ng-app="myChatApp" >-->
    <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>
                <% if(locals.title) { %>
                    <%= title %>
                <% } %> : Mean-application
            </title>
            <!-- Bootstrap Core CSS -->
<!--            <link href="static/css/bootstrap.css" rel="stylesheet">-->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>

            <!-- Custom CSS -->
            <link rel="stylesheet" href="static/css/main.css">
            <link href="static/css/custom.css" rel="stylesheet">

            

            <!-- Custom Fonts & Icons -->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="static/css/icomoon-social.css">
            <link rel="stylesheet" href="static/css/font-awesome.min.css">

            
            

        </head>
<!--        <body ng-controller="myChatController" ng-init="isLoading()">-->
        <body>
            <div class="loading" ng-show="loading">
                <div id="ajax_overlay" class="ajax_overlay_preloader" style="display: block;">
                    <div class="gif_preloader" style="">
                        <div class="loading_text" style="">Loading...</div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

