<%- include('partials/header') %>
<%- include('partials/navbar') %>

            <!-- Page Title -->
            <div class="section section-breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>404 Error Found</h1>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Our Clients -->
            <div class="section">
                <div class="container errorcontant">

                    
                    <img src="static/img/error-img.png" title="error">
                    <!---728x90--->
                    <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>

                    <a href="/index">Back To Home</a>
                    <!---728x90--->
                </div>
            </div>
            <!-- End Our Clients -->
<!-- Our Clients -->
            <div class="section">
                <div class="container">

                    <div class="section-title">
                        <h1>Our Success Stories</h1>
                    </div>

                    <div class="clients-logo-wrapper text-center row">
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-1.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-2.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-3.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-4.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-5.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-6.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-7.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-8.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-9.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-10.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-11.jpg" alt="Client Name"></a></div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="static/img/logos/logo-12.jpg" alt="Client Name"></a></div>
                    </div>
                </div>
            </div>
            <!-- End Our Clients -->
             <%- include('partials/footer') %>